@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(45deg, #1B13A6 49.59%, #443CDF 88.57%), #FFF repeat-y;
  margin-left: 16rem;
  margin-right: 16rem;
}

p {
  color: rgb(var(--foreground-rgb));
}

.ellipse-top {
  box-sizing: border-box;
  width: 49.375rem;
  height: 33.375rem;
  border-radius: 392.283px;
  color: #6158FF80;
  background: rgba(97, 88, 255, 0.80);
  filter: blur(13rem);
}

.ellipse-left {
  width: 397.249px;
  height: 495.072px;
  flex-shrink: 0;
  border-radius: 495.072px;
  background: #6158FF;
  filter: blur(144.9958953857422px);
}

.ellipse-right {
  width: 291.481px;
  height: 291.481px;
  flex-shrink: 0;
  border-radius: 291.481px;
  color: #6158FF60;
  background: rgba(97, 88, 255, 0.60);
  filter: blur(87.89134216308594px);
}